<ion-view view-title = "Emergency">
<ion-content ng-class="has-subheader">
<div class="bar bar-header bar-dark">
	<a href="#/map" class="button icon-left ion-chevron-left"> </a>
  <h1 class="title">Emergency</h1>
</div>

    <div class="bar bar-subheader">
          <h2 class="title">Please Select Your Emergency</h2>
    </div>
    <br />
     <br />
      <br />
       <br />
  <div class="list card">
    <div class="button-bar">
              <a class="button button-assertive" href="#/sms" ng-click="setNumber(211)">POLICE</a>
           

          </div>
      </div>
    
    <div class="list card">
    <div class="button-bar">
             
            <a class="button button-energized" href="#/sms" ng-click="setNumber(511)">AMBULANCE</a>

          </div>
    </div>
    
    <div class="list card">
    <div class="button-bar">
              <a class="button button-assertive" href="#/sms" ng-click="setNumber(311)">FIRE</a>
            
          </div>
<!--      <button class="button button-block button-assertive" href="#/sms">
 			 POLICE
	  </button>

	  <button class="button button-block button-assertive">
  			AMBULANCE
	  </button>

	  <button class="button button-block button-assertive">
  			FIRE
	  </button>-->

    </div>
    
<!--  </div>-->
    
    
</ion-content>
</ion-view>


