<ion-view view-title = "Emergency">
<ion-content ng-class="has-subheader">
<div class="bar bar-header bar-dark">
	<a href="#/map" class="button icon-left ion-chevron-left"> </a>
  <h1 class="title">Emergency</h1>
</div>

    <div class="bar bar-subheader">
          <h2 class="title">Please Select Your Emergency</h2>
    </div>
    <br />
  <div class="list card">
    <div class="item">  
      {{message.card}}
          
    <br />
    <br />
    <br />



      <button class="button button-block button-assertive" href="#/sms">
 			 POLICE
	  </button>

	  <button class="button button-block button-assertive">
  			AMBULANCE
	  </button>

	  <button class="button button-block button-assertive">
  			FIRE
	  </button>

    </div>
    
  </div>
    
    
</ion-content>
</ion-view>


