
<ion-view view-title = "Services">
<ion-content ng-class="has-subheader">
<div class="bar bar-header bar-stable">
  <h1 class="title">Please Select Your Required Service</h1>
</div>
<br />
<br />
<!--    <div class="bar bar-subheader">
          <h2 class="title">Please Select Your Required Service</h2>
    </div>-->
    
  <div class="list card">
   
          
    
   



      <a class="button button block button-calm" href="#/sms">
 			 Tow Trucking
	  </a>

	  <button class="button button-block button-positive">
  			Insurance Assistance
	  </button>

	  <button class="button button-block button-calm">
  			Doctor
	  </button>

	  <button class="button button-block button-positive">
  			Mechanic
	  </button>
    
  </div>
    
    
</ion-content>
</ion-view>



