<ion-view title="Settings">
  <ion-content class="has-header">

<ul class="list">

   <a class="button button-energized alert" href="#/alert">ALERT Button Settings</a>

  <label class="item item-input item-select">
    <div class="input-label">
      Set Country
    </div>
    <select>
      <option selected>Barbados</option>
      <option>St. Vincent</option>
      <option>Russia</option>
    </select>
  </label>

  <label class="item item-input item-select">
    <div class="input-label">
      Select Message Type
    </div>
    <select>
      <option selected>Default Message</option>
      <option>Custom Message</option>
    </select>
  </label>

      

</ul>

  </ion-content>
</ion-view>
