
    <ion-pane ng-controller="SMSController">
     
      <ion-content>
           <div class="bar bar-header bar-dark">
	<a href="#/emg" class="button icon-left ion-chevron-left"> </a>
  <h1 class="title">Send an SMS</h1>
</div>
          <br>
          <br>

           <ion-list>
          <label class="item item-input">
            <span class="input-label">Number</span>
            <input type="number" ng-model="sms.number">
          </label>

          <label class="item item-input">
            <span class="input-label">Message</span>
            <input type="text" ng-model="sms.message">
          </label>

          <button class="button button-full button-positive" ng-click="sendSMS()">
            Send
          </button>
        </ion-list>
      </ion-content>

    </ion-pane>
